 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a software developer, specialising in desktop, mobile and web applications and games. I'm a passinate person that loves to work on new experiences and challange myself to use and learn new things.</p>
                </div>
                <div class="col-lg-4">
                    <p>To build awesome applications and games I always use the best tool for the job in hand and the best tool so far is <a href="http://www.haxe.org" target="_blank">Haxe</a> the cross-platform toolkit.</p>
                </div>
            </div>
        </div>
    </section>
